.title{
    text-align: center;
    height: fit-content;
    color: #000;
    margin-top: 0px;
}
.abt-main{
    background-image: url("./backimg.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
.map-iframe {
    border: 0;
    width: 40%;
    height: 350px;
    margin-left: 30px;
    border-radius: 20px;
}
.heading{
    text-align: start;
    font-size: larger;
    margin: 10px;
    margin-left: 20%;
    font-weight: bold;
}
.shopimg{
    width: 500px;
    height: 400px;
    margin: 10px;
   margin-left: 330px;
}
.lastline{
    background-color: white;
    color:#000;
    text-align: center;
    display: block;
    margin: 10px auto;
    width: fit-content;
    padding: 5px;
    font-size: large;
}