h1{
    text-align: center;
    background-color: #1E2A5E;
    height: fit-content;
    color: #E2E2B6;
    margin-top: 0px;
}
.abt-main{
    background-image: url("./backimg.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
.map-iframe {
    border: 0;
    width: 40%;
    height: 350px;
}
.heading{
    text-align: start;
    font-size: large;
    margin: 10px;
    margin-left: 20%;
}
.shopimg{
    width: 500px;
    height: 450px;
    margin: 10px;
    position: fixed;
    right: 50px;
}
  
