body{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    background-color: #1E2A5E;
    height: fit-content;
    color: #E2E2B6;
    margin-top: 0px;
}
h2{
text-align: center;
background-color: #6EACDA;
width: fit-content;
margin-left: 35%;

}
.main{
    background-image: url(./hmimg.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 0px;
    margin: 0px;

}
span{
    width: fit-content;
    background-color: #E2E2B6;
    text-align: center;
    font-style: italic;
    font-size: larger;
    display: block;
    margin: 10px auto;
}
.cardcontainer{
   justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}